numpy
scipy
torch_nightly --find-links https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
git+https://github.com/pytorch/audio
git+https://github.com/pytorch/vision
git+https://github.com/pytorch/text
git+https://github.com/pytorch/tnt
git+https://github.com/NVIDIA/apex
pyro-ppl
cffi
pyyaml
wheel
scikit-learn
matplotlib
colorlover
t_sne_bhcuda
tqdm
pysndfx
python-Levenshtein
visdom
tensorboardx
tensorboard
slackclient
gitpython
